<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="utf-8" http-equiv="encoding">
        <%= stylesheet_link_tag "dashboard" %>
        <%= stylesheet_link_tag "cohort" %>
        <%= javascript_include_tag 'jquery' %>
        <script>
          jQuery(document).ready(function($) {
          //  document.getElementById('content').style = 'position : relative; width : 98%; margin-left : -49%;'
          //  document.getElementById('description').style = 'color:#777;position:absolute;margin-top:-70px;'
            $('#finish').click(function() {
              window.location = '/clinic/index?user_id=<%=params[:user_id]%>&location_id=<%params[:location_id]%>'
            })

          })
        </script>
        <script>
          var tt_cancel_destination = "/"

          function showReport() {
            document.forms[0].submit();
          }

          function showReportChildren() {
            document.forms[1].submit();
          }

          function showReportWomen() {
            document.forms[2].submit();
          }
        </script>
        <style>
          #content{
            position : relative;
            width : 98%;
            margin-left : -49%;
}
#description{
          color:#777;
          position:absolute;
          margin-top:-70px;
}
          table {
            border-style:none;
            border-width:1px;
            width:95% !important;
            top: 10%;
            left: 150%;
          }

          th {
            border-style:none;
            border-width:1px;
          }

          td {
            text-align:center;
            border-style:solid;
            border-width:1px;
            font-weight:bold;
            font-size:medium;
          }

          .row_break td {
            border-width:0px;
          }

          div.scrollTableContainer {
            border-style:solid;
            height:68%;
            width: 98%;
            float: right;
            position:relative;
          }

          .survival-analysis th, .survival-analysis td {
            text-align:left;
          }

          .clinic_own_data {
            position:relative;
            float:left;
            display:block;
            padding-left:10px;
          }

          .checked_data {
            position:relative;
            float:right;
            display:block;
            padding-right:10px;
          }
          a{
            text-decoration: none !important;
            color: #E8EAF1;
          }
          a:hover {
            color:black;
          }
          .clinic_data_value:hover {
            color:black;
          }
          .checked_data_value:hover{
            color:black;
          }
          td.create_button:hover{
            color:black;
          }
          .clinic_data_value {
            position:relative;
            float:left;
            display:block;
            border: 0px 0px 2px 0px;
            border-top: 1px outset black;
            border-bottom: 1px outset black;
            border-radius: 7px 7px 7px 7px;
            border-left:0px;
            margin-top:2px;
            border-style: outset;
            width:30%;
            height:100%;
            padding: 10px 16px 10px 10px;
            text-align: center;
            text-decoration: none !important;
            background-color: #7784AE;
            color: #E8EAF1;
            display: block;
            font-size:13px;
          }
          .create_button a{
            background-color: #7784AE;
            border-bottom: 1px outset black;
            border-radius: 7px 7px 7px 7px;
            border-style: outset;
            border-top: 1px outset black;
            color: #E8EAF1;
            display: block;
            padding: 10px 16px 10px 10px;
            text-align: center;
            text-decoration: none !important;
            font-size:13px;
          }
          .heading {
            background-color: #7784AE;
            width: 100px;
            color: #E8EAF1;
            font-size: 15px;
          }

          td.left_top_right {
            border-width:3px 3px 0px 3px;
          }

          td.right_bottom_left {
            border-width:1px 3px 3px 3px;
          }

          td.left_right {
            border-width:1px 3px 0px 3px;
          }

          td.left_top_right_bottom {
            border-width:3px 3px 3px 3px;
          }

          .regimen {
            position:absolute;
            top:0px;
            left:1px;
            border-radius:100px;
            background:white;
            color:black;
            text-align:center;
            font-size:15px;
          }
          td.regimen_name_top {
            text-align:left;
            border-width:1px 0px 0px 0px;
            padding-left:100px;
          }

          td.regimen_name {
            text-align:left;
            border-width:0px 0px 0px 0px;
            padding-left:100px;
          }

          td.regimen_name_bottom {
            text-align:left;
            border-width:0px 0px 1px 0px;
            padding-left:100px;
          }

          b {
            position:relative;
            float:left;
            display:block;
            width:68px;
            padding-left:5px;
          }
          tr{
            width:100% !important;
          }
          td.bg {
            background-color:lightgrey;
            -moz-user-select:none;
          }

          .logo {
            float:left;
            height: 8em;
          }
          #range{
            float:left;
            height: 8em;
          }
          .dataTable{
            width:6%
          }

        </style>

        <title>Cohort<%= Location.current_health_center.name + "  " + @quarter %></title>
        </head>
        <body>
          <%= image_tag(@logo,:class=>"logo")%>
          <br />
          <h1>Chronic Care Clinic Cohort</h1>
	<h1><%= Location.current_health_center.name + " : " + @quarter %></h1>
	<br />

          <div class='scrollTableContainer'>
            <table cellspacing='0' align="center" width="98%" height="95%">
              <thead>
                <tr>

                  <th style = "text-align:left;">&nbsp;</th>
                  <th colspan="3">New</th>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <th colspan="3">Cumulative</th>
                  
                </tr>
                <tr>

                  <th style = "text-align:left;">&nbsp;</th>
                  <th>Male</th>
                  <th>Female</th>
                  <th>Total</th>
                  <td  style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <th>Male</th>
                  <th>Female</th>
                  <th>Total</th>
                </tr>

              </thead>
              <tbody>
                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Total registrated</td>
                </tr>
                <tr>

                  <td style="text-align:left;">0-14</td>
                  <td><%=  @total_children_registered_male %></td>
                  <td><%=  @total_children_registered_female %></td>
                  <td><%=  (@total_children_registered_male + @total_children_registered_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @total_children_ever_registered_male %></td>
                  <td><%=  @total_children_ever_registered_female %></td>
                  <td><%=  (@total_children_ever_registered_male + @total_children_ever_registered_female) %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">15-54</td>
                  <td><%=  @total_adults_registered_male %></td>
                  <td><%=  @total_adults_registered_female %></td>
                  <td><%=  (@total_adults_registered_male + @total_adults_registered_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @total_adults_ever_registered_male %></td>
                  <td><%=  @total_adults_ever_registered_female %></td>
                  <td><%=  (@total_adults_ever_registered_male + @total_adults_ever_registered_female) %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">54 +</td>
                  <td><%=  @older_persons_registered_male %></td>
                  <td><%=  @older_persons_registered_female %></td>
                  <td><%=  (@older_persons_registered_male + @older_persons_registered_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @older_persons_ever_registered_male %></td>
                  <td><%=  @older_persons_ever_registered_female %></td>
                  <td><%=  (@older_persons_ever_registered_male + @older_persons_ever_registered_female) %></td>
                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Disease</td>
                </tr>
                <tr>

                  <td style="text-align:left;">DM</td>
                  <td><%=  @disease_availabe_dm_male.length rescue 0 %></td>
                  <td><%=  @disease_availabe_dm_female.length rescue 0 %></td>
                  <td><%=  (@disease_availabe_dm_male.length rescue 0) + (@disease_availabe_dm_female.length rescue 0) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_dm_male.length rescue 0 %></td>
                  <td><%=  @disease_ever_availabe_dm_female.length rescue 0 %></td>
                  <td><%=  (@disease_ever_availabe_dm_male.length rescue 0) + (@disease_ever_availabe_dm_female.length rescue 0) %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">HT</td>
                  <td><%=  @disease_availabe_ht_male.length rescue 0 %></td>
                  <td><%=  @disease_availabe_ht_female.length rescue 0 %></td>
                  <td><%=  (@disease_availabe_ht_male.length rescue 0) + (@disease_availabe_ht_female.length rescue 0) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_ht_male.length rescue 0 %></td>
                  <td><%=  @disease_ever_availabe_ht_female.length rescue 0 %></td>
                  <td><%=  (@disease_ever_availabe_ht_male.length rescue 0) + (@disease_ever_availabe_ht_female.length rescue 0) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">DM + HT</td>
                  <td><%=  @disease_availabe_dmht_male.length rescue 0 %></td>
                  <td><%=  @disease_availabe_dmht_female.length rescue 0 %></td>
                  <td><%=  (@disease_availabe_dmht_female.length rescue 0) + (@disease_availabe_dmht_male.length rescue 0) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_dmht_male.length rescue 0 %></td>
                  <td><%=  @disease_ever_availabe_dmht_female.length rescue 0 %></td>
                  <td><%=  (@disease_ever_availabe_dmht_male.length rescue 0 ) + (@disease_ever_availabe_dmht_female.length rescue 0 ) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Asthma</td>
                  <td><%=  @disease_availabe_asthma_male.length rescue 0 %></td>
                  <td><%=  @disease_availabe_asthma_female.length rescue 0 %></td>
                  <td><%=  (@disease_availabe_asthma_male.length rescue 0) + (@disease_availabe_asthma_female.length rescue 0) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_asthma_male.length rescue 0 %></td>
                  <td><%=  @disease_ever_availabe_asthma_female.length rescue 0 %></td>
                  <td><%=  (@disease_ever_availabe_asthma_male.length rescue 0) + (@disease_ever_availabe_asthma_female.length rescue 0 ) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Epilepsy</td>
                  <td><%=  @disease_availabe_epilepsy_male.length rescue 0 %></td>
                  <td><%=  @disease_availabe_epilepsy_female.length rescue 0 %></td>
                  <td><%=  (@disease_availabe_epilepsy_male.length rescue 0 ) + (@disease_availabe_epilepsy_female.length rescue 0 ) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_epilepsy_male.length rescue 0 %></td>
                  <td><%=  @disease_ever_availabe_epilepsy_female.length rescue 0 %></td>
                  <td><%=  (@disease_ever_availabe_epilepsy_male.length rescue 0) + (@disease_ever_availabe_epilepsy_female.length rescue 0 ) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Other</td>
                  <td><%=  @disease_availabe_other_male.to_i %></td>
                  <td><%=  @disease_availabe_other_female.to_i %></td>
                  <td><%=  (@disease_availabe_other_male.to_i + @disease_availabe_other_female.to_i) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @disease_ever_availabe_other_male.to_i %></td>
                  <td><%=  @disease_ever_availabe_other_female.to_i %></td>
                  <td><%=  (@disease_ever_availabe_other_male.to_i + @disease_ever_availabe_other_female.to_i) %></td>
                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Status</td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Attending</td>
                  <td><%=  @attending_male %></td>
                  <td><%=  @attending_female %></td>
                  <td><%=  (@attending_male + @attending_female) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Did not attend</td>
                  <td><%=  @not_attend_male %></td>
                  <td><%=  @not_attend_female %></td>
                  <td><%=  (@not_attend_male + @not_attend_female) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Dead</td>
                  <td><%=  @dead_ever_male %></td>
                  <td><%=  @dead_ever_female %></td>
                  <td><%=  (@dead_ever_male + @dead_ever_female) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Stopped</td>
                 
                  <td><%=  @stopped_treatment_ever_male %></td>
                  <td><%=  @stopped_treatment_ever_female %></td>
                  <td><%=  (@stopped_treatment_ever_female + @stopped_treatment_male) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Transferred Out</td>
                  
                  <td><%=  @transfer_out_ever_male %></td>
                  <td><%=  @transfer_out_ever_female %></td>
                  <td><%=  (@transfer_out_ever_female + @transfer_out_ever_male) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;" colspan="5">Lost to follow-up</td>
                  <td><%=  @lost_followup_male %></td>
                  <td><%=  @lost_followup_female %></td>
                  <td><%=  (@lost_followup_female + @lost_followup_male) %></td>
                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Comorbidity</td>
                </tr>
                <tr>

                  <td style="text-align:left;">BMI >= 30</td>
                  <td><%=  @bmi_greater_male %></td>
                  <td><%=  @bmi_greater_female %></td>
                  <td><%=  @bmi_greater_male + @bmi_greater_female %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @bmi_greater_ever_male %></td>
                  <td><%=  @bmi_greater_ever_female %></td>
                  <td><%=  @bmi_greater_ever_male + @bmi_greater_ever_female %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Smoking</td>
                  <td><%=  @smoking_male %></td>
                  <td><%=  @smoking_female %></td>
                  <td><%=  @smoking_female + @smoking_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @smoking_ever_male %></td>
                  <td><%=  @smoking_ever_female %></td>
                  <td><%=  @smoking_ever_female + @smoking_ever_male %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Alcohol</td>
                  <td><%=  @alcohol_male %></td>
                  <td><%=  @alcohol_female %></td>
                  <td><%=  @alcohol_female + @alcohol_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @alcohol_ever_male %></td>
                  <td><%=  @alcohol_ever_female %></td>
                  <td><%=  @alcohol_ever_female + @alcohol_ever_male %></td>
                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Drugs</td>
                </tr>
                <tr>

                  <td style="text-align:left;">Metformin</td>
                  <td><%=  @metformin_male %></td>
                  <td><%=  @metformin_female %></td>
                  <td><%=  @metformin_male + @metformin_female %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @metformin_ever_male %></td>
                  <td><%=  @metformin_ever_female %></td>
                  <td><%=  @metformin_ever_female + @metformin_ever_male %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Glibenclamide</td>
                  <td><%=  @glibenclamide_male %></td>
                  <td><%=  @glibenclamide_female %></td>
                  <td><%=  @glibenclamide_female + @glibenclamide_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @glibenclamide_ever_male %></td>
                  <td><%=  @glibenclamide_ever_female %></td>
                  <td><%=  @glibenclamide_ever_female + @glibenclamide_ever_male %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">Insuline</td>
                  <td><%=  @insulin_male %></td>
                  <td><%=  @insulin_female %></td>
                  <td><%=  @insulin_female + @insulin_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @insulin_ever_male %></td>
                  <td><%=  @insulin_ever_female %></td>
                  <td><%=  @insulin_ever_female + @insulin_ever_male %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">HCT</td>
                  <td><%=  @hct_male %></td>
                  <td><%=  @hct_female %></td>
                  <td><%=  @hct_female + @hct_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @hct_ever_male %></td>
                  <td><%=  @hct_ever_female %></td>
                  <td><%=  @hct_ever_female + @hct_ever_male %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Amlodipine</td>
                  <td><%=  @amlodipine_male %></td>
                  <td><%=  @amlodipine_female %></td>
                  <td><%=  @amlodipine_female + @amlodipine_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @amlodipine_ever_male %></td>
                  <td><%=  @amlodipine_ever_female %></td>
                  <td><%=  @amlodipine_ever_female + @amlodipine_ever_male %></td>
                </tr>
                 <tr>

                  <td style="text-align:left;">Captopril</td>
                  <td><%=  @captopril_male %></td>
                  <td><%=  @captopril_female %></td>
                  <td><%=  @captopril_female + @captopril_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @captopril_ever_male %></td>
                  <td><%=  @captopril_ever_female %></td>
                  <td><%=  @captopril_female + @captopril_ever_male %></td>
                </tr>

                 <tr>

                  <td style="text-align:left;">Phenobarbitone</td>
                  <td><%=  @phenobarbitone_male %></td>
                  <td><%=  @phenobarbitone_female %></td>
                  <td><%=  @phenobarbitone_female + @phenobarbitone_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @phenobarbitone_ever_male %></td>
                  <td><%=  @phenobarbitone_female %></td>
                  <td><%=  @phenobarbitone_ever_female + @phenobarbitone_ever_male %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">Diazepam</td>
                  <td><%=  @diazepam_male %></td>
                  <td><%=  @diazepam_female %></td>
                  <td><%=  @diazepam_female + @diazepam_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @diazepam_ever_male %></td>
                  <td><%=  @diazepam_ever_female %></td>
                  <td><%=  @diazepam_ever_female + @diazepam_ever_male %></td>
                </tr>
              
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Performance</td>
                </tr>
                <tr>

                  <td style="text-align:left;">Bp down</td>
                  <td><%=  @bp_male %></td>
                  <td><%=  @bp_female %></td>
                  <td><%=  @bp_female + @bp_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @bp_ever_male %></td>
                  <td><%=  @bp_ever_female %></td>
                  <td><%=  @bp_ever_female + @bp_ever_male %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Bp < 140/90 </td>
                  <td><%=  @low_bp_male %></td>
                  <td><%=  @low_bp_female %></td>
                  <td><%=  @low_bp_female + @low_bp_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @low_bp_ever_male %></td>
                  <td><%=  @low_bp_ever_female %></td>
                  <td><%=  @low_bp_ever_male + @low_bp_ever_female %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Glucose down </td>
                  <td><%= @glucose_male %></td>
                  <td><%= @glucose_female %></td>
                  <td><%=  @glucose_female + @glucose_male %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @glucose_ever_male %></td>
                  <td><%=  @glucose_ever_female %></td>
                  <td><%=  @glucose_ever_female + @glucose_ever_male %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">Asthmatic</td>
                  <td><%=  @asthma_male %></td>
                  <td><%=  @asthma_female %></td>
                  <td><%=  (@asthma_male + @asthma_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @asthma_ever_male  %></td>
                  <td><%=  @asthma_ever_female  %></td>
                  <td><%=  (@asthma_ever_male + @asthma_ever_female)  %></td>
                </tr>

                <tr>

                  <td style="text-align:left;">Not Asthmatic</td>
                  <td><%=  @non_asthmatic_male %></td>
                  <td><%=  @non_asthmatic_female %></td>
                  <td><%=  (@non_asthmatic_male + @non_asthmatic_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @non_asthmatic_ever_male  %></td>
                  <td><%=  @non_asthmatic_ever_female  %></td>
                  <td><%=  (@non_asthmatic_ever_male + @non_asthmatic_ever_female)  %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Epileptic </td>
                  <td><%=  @epilepsy_male %></td>
                  <td><%=  @epilepsy_female %></td>
                  <td><%=  (@epilepsy_female + @epilepsy_male) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%= @epilepsy_ever_male %></td>
                  <td><%=  @epilepsy_ever_female %></td>
                  <td><%=  (@epilepsy_ever_female + @epilepsy_ever_male) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">No seizure</td>
                  <td><%=  @non_epilepsy_male %></td>
                  <td><%=  @non_epilepsy_female %></td>
                  <td><%=  (@non_epilepsy_male + @non_epilepsy_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @non_epilepsy_ever_male  %></td>
                  <td><%=  @non_epilepsy_ever_female  %></td>
                  <td><%=  (@non_epilepsy_ever_male + @non_epilepsy_ever_female)  %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Number of patients controlled</td>
                  <td><%=  @controlled_male %></td>
                  <td><%=  @controlled_female %></td>
                  <td><%=  (@controlled_male + @controlled_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @controlled_ever_male %></td>
                  <td><%=  @controlled_ever_female %></td>
                  <td><%=  (@controlled_ever_male + @controlled_ever_female) %></td>
                </tr>
             

                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

             <tr class = 'row_break heading'>
                  <td colspan="8" style="text-align:left;border-width:0px 0px 0px 0px">Complications</td>
                </tr>
                <tr>

                  <td style="text-align:left;">Blind</td>
                  <td><%=  @comp_blind_male %></td>
                  <td><%=  @comp_blind_female %></td>
                  <td><%=  (@comp_blind_male + @comp_blind_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @comp_blind_ever_male %></td>
                  <td><%=  @comp_blind_ever_female %></td>
                  <td><%=  (@comp_blind_ever_male + @comp_blind_ever_female)%></td>
                </tr>
                <tr>

                  <td style="text-align:left;">MI</td>
                  <td><%=  @comp_mi_male %></td>
                  <td><%=  @comp_mi_female %></td>
                  <td><%=  (@comp_mi_male + @comp_mi_female) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @comp_mi_ever_male %></td>
                  <td><%=  @comp_mi_ever_female %></td>
                  <td><%=  @comp_mi_ever_male + @comp_mi_ever_female %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Cardiovascular Disease</td>
                  <td><%=  @comp_cardiovascular_male %></td>
                  <td><%=  @comp_cardiovascular_female %></td>
                  <td><%=  @comp_cardiovascular_male + @comp_cardiovascular_female %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @comp_cardiovascular_ever_male %></td>
                  <td><%=  @comp_cardiovascular_ever_female %></td>
                  <td><%=  (@comp_cardiovascular_ever_male + @comp_cardiovascular_ever_female) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Amputation</td>
                  <td><%=  @comp_amputation_male %></td>
                  <td><%=  @comp_amputation_female %></td>
                  <td><%=  (@comp_amputation_female + @comp_amputation_male) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @comp_amputation_ever_male %></td>
                  <td><%=  @comp_amputation_ever_female %></td>
                  <td><%=  (@comp_amputation_ever_male + @comp_amputation_ever_female) %></td>
                </tr>
                <tr>

                  <td style="text-align:left;">Burns</td>
                  <td><%=  @comp_burns_male %></td>
                  <td><%=  @comp_burns_female %></td>
                  <td><%=  (@comp_burns_female + @comp_burns_male) %></td>
                  <td style="text-align:left;border-width:0px 0px 0px 0px">&nbsp;</td>
                  <td><%=  @comp_burns_ever_male %></td>
                  <td><%=  @comp_burns_ever_female %></td>
                  <td><%=  (@comp_burns_ever_male + @comp_burns_ever_female) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="footer" class="dark">
            <div id="buttons" class="buttons" style="top:0px">
              <button id="finish" class="green"><span>Finish</span></button>
            </div>
          </div>


        </body>
        </html>
