<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="utf-8" http-equiv="encoding">
        <%= stylesheet_link_tag "dashboard" %>
        <%= stylesheet_link_tag "cohort" %>
        <%= javascript_include_tag 'jquery' %>
        <script>
          jQuery(document).ready(function($) {
            $('#finish').click(function() {
              window.location = '/clinic/index?user_id=<%=params[:user_id]%>&location_id=<%params[:location_id]%>'
            })

          })
          var tt_cancel_destination = "/"
		</script>
        <style>
          #content{
            position : relative;
            width : 98%;
            margin-left : -49%;
}
.middles{
   text-align:left;
   border-width:0px 0px 0px 1px;
}
.bottoms{
   text-align:left;
   border-width:0px 0px 1px 1px;
}
.tops{
  text-align:left;
  border-width:1px 0px 0px 1px;
}
#description{
          color:#777;
          position:absolute;
          margin-top:-70px; 
}
          table {
            border-style:none;
            border-width:1px;
            width:95% !important;
            top: 10%; 
            left: 150%; 
          }

          th {
            border-style:none;
            border-width:1px;
          }

          td {
            text-align:center;
            border-style:solid;
            border-width:1px;
            font-weight:bold;
            font-size:medium;
          }

          .row_break td {
            border-width:0px;
          }

          div.scrollTableContainer {
            border-style:solid;
            height:68%;
            width: 98%;
            float: right;
            position:relative;
          }
          .heading {
            background-color: #7784AE;
            width: 100px;
            color: #E8EAF1;
            font-size: 15px;
          }
          tr{
            width:100% !important;
          }
          .logo {
            float:left;
            height: 8em;
          }

        </style>

        <title>Cohort<%= @facility + "  " + @quarter %></title>
        </head>
        <body>
          <%= image_tag(@logo,:class=>"logo")%>
          <br />
          <h1>Integrated CCC Cohort</h1>
		  <h1><%= @facility + " : " + @quarter %></h1>
	      <br />

          <div class='scrollTableContainer'>
            <table cellspacing='0' align="center" width="98%" height="95%">
              <thead>
                <tr>
                  <th style = "text-align:left;">Patients </br>Registered</th>
                  <th >&nbsp;</th>
                  <th >Newly </br>Registered</th>
                  <th >Cumulative</th>

                </tr>
              </thead>
              <tbody>

                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Gender</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Male</td>
                  <td><%= @registered_male %></td>
                  <td><%= @registered_ever_male %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Female</td>
                 <td><%= @registered_female %></td>
                  <td><%= @registered_ever_female %></td>

                </tr>
                 <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr >

                  <td style="text-align:left;border-width:1px 0px 0px 1px">Age groups in year</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">0-14</td>
                  <td><%= @registered_0_14 %></td>
                  <td><%= @registered_0_14_ever %></td>

                </tr>
                <tr >

                  <td  style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">15-44</td>
                  <td><%= @registered_14_44 %></td>
                  <td><%= @registered_14_44_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">45-64</td>
                  <td><%= @registered_44_64 %></td>
                  <td><%= @registered_44_64_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">65 and above</td>
                  <td><%= @registered_64_1000 %></td>
                  <td><%= @registered_64_1000_ever %></td>

                </tr>
                 <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Disease</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Diabetes Mellitus(DM)</td>
                  <td><%= @dm.length  %></td>
                  <td><%= @dm_ever.length %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Hypertension Alone</td>
                  <td><%= @ht.length %></td>
                  <td><%= @ht_ever.length %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Diabetes and Hypertension</td>
                  <td> <%= @dmht.length %></td>
                  <td><%= @dmht_ever.length %></td>

                </tr>
                <tr >

                  <td  style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Asthma</td>
                  <td><%= @asthma.length %></td>
                  <td><%= @asthma_ever.length %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Epilepsy</td>
                  <td><%= @epilepsy.length %></td>
                  <td><%= @epilepsy_ever.length %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Other</td>
                  <td><%= @other.length %></td>
                  <td><%= @other_ever.length  %></td>

                </tr>
                 <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Patient Outcome<br>at end of quarter</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Attended the clinic</td>
                  <td class="tops"></td>
                  <td><%= @attending %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Did not attend in quarter</td>
                   <td class="middles"></td>
                  <td><%= @not_attend_ever %></td>>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Stopped treatment</td>
                  <td class="middles"></td>
                  <td><%= @stopped_treatment_ever %></td>

                </tr>
                <tr >

                  <td  style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Transferred out to another facility</td>
                  <td class="middles"></td>
                  <td><%= @transfer_out_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Died</td>
                  <td class="middles"></td>
                  <td><%= @dead_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Lost to follow-up</td>
                  <td class="bottoms"></td>
                  <td><%= @lost_followup_ever %></td>

                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Co-morbid conditions</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Obese(BMI >= 30)</td>
                  <td><%= @bmi %></td>
                  <td><%= @bmi_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Current Smoker</td>
                  <td><%= @smoking %></td>
                  <td><%= @smoking_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Drinks Alcohol</td>
                  <td><%= @alcohol %></td>
                  <td><%= @alcohol_ever %></td>

                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Measure of disease control</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Blood pressure measured</td>
                  <td><%= @bp_measured.length %></td>
                  <td><%= @bp_measured_ever.length %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Blood pressure controlled (BP <= 140/90)</td>
                  <td><%= @low_bp.length %></td>
                  <td><%= @low_bp_ever.length %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Blood glucose measured</td>
                  <td><%= @glucose_measured %></td>
                  <td><%= @glucose_ever_measured %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Blood glucose controlled (FBG < 7.0mmol/l)</td>
                  <td><%= @glucose_controlled %></td>
                  <td><%= @glucose_ever_controlled %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">No asthma attack in last three month</td>
                  <td><%= @no_asthma %></td>
                  <td><%= @no_asthma_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">No seizure in last three months</td>
                  <td><%= @no_epilepsy %></td>
                  <td><%=  @no_epilepsy_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">All disease parameters under control</td>
                  <td><%= @controlled %></td>
                  <td><%= @controlled_ever %></td>

                </tr>
                
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Disease Complications</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Stroke</td>
                  <td><%= @stroke %></td>
                  <td><%= @stroke_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Myocardial infarction</td>
                  <td><%= @mi %></td>
                  <td><%= @mi_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Cardiovascular disease</td>
                  <td><%= @cardiovascular %></td>
                  <td><%= @cardiovascular_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Blindness</td>
                  <td><%= @blind %></td>
                  <td><%= @blind_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Burns</td>
                  <td><%= @burns %></td>
                  <td><%= @burns_ever %></td>

                </tr>

                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                  <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px" colspan="4">Drugs:</td>

                </tr>
                <tr >

                  <td  style="text-align:left;border-width:1px 0px 0px 1px">Anti-diabetic</td>
                  <td style="text-align:left;border-width:1px 0px 0px 1px">Metformin</td>
                  <td><%= @metformin %></td>
                  <td><%= @metformin_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Glibenclamide</td>
                  <td><%= @glibe %></td>
                  <td><%= @glibe_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Insulin</td>
                  <td><%= @insulin %></td>
                  <td><%= @insulin_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">Anti-hypertensive</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Hydrochlorothiazide</td>
                  <td><%= @hct %></td>
                  <td><%= @hct_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Amlodipine</td>
                  <td><%= @amlodipine%></td>
                  <td><%= @amlodipine_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Captopril</td>
                  <td><%= @captopril %></td>
                  <td><%= @captopril_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Other</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">Anti-asthma</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Salbutamol Inhaler</td>
                  <td><%= @salbutamol %></td>
                  <td><%= @salbutamol_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Steroid Inhaler</td>
                  <td><%= @beclomethasone %></td>
                  <td><%= @beclomethasone_ever %></td>

                </tr>
                 <tr >

                   <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Other</td>
                  <td><%= @other_asthma %></td>
                  <td><%= @other_asthma_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">Anti-epilepsy</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Phernobabitone</td>
                  <td><%= @phenobarbitone %></td>
                  <td><%= @phenobarbitone_ever %></td>

                </tr>
                 <tr >

                  <td style="text-align:left;border-width:0px 0px 0px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 0px 1px">Phenytoin</td>
                  <td><%= @phenytoin %></td>
                  <td><%= @phenytoin_ever %></td>

                </tr>
                <tr >

                  <td style="text-align:left;border-width:0px 0px 1px 1px">&nbsp;</td>
                  <td style="text-align:left;border-width:0px 0px 1px 1px">Carbamazepine</td>
                  <td><%= @carbamazepine %></td>
                  <td><%= @carbamazepine_ever %></td>

                </tr>
                <tr class = 'row_break'>

                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="footer" class="dark">
            <div id="buttons" class="buttons" style="top:0px">
              <button id="finish" class="green"><span>Finish</span></button>
            </div>
          </div>


        </body>
        </html>
